body
{
	background-color: lightblue;
}
table
{
	collapse: collapse;
	background-color: #99e6ff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
td
{
		border: solid black 1px;
		align: center;
}
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
#hasab
{
	width: 33%;
	float: left;
	margin-left: 33%;
	margin-top: 5%;
	padding-left: 3%;
}